[package]
name = "ot-soft"
version = "0.1.0"
edition = "2021"

[lib]
crate-type = ["cdylib"]

[dependencies]
wasm-bindgen = "0.2"
chrono = "0.4"

[profile.release]
opt-level = "s"
lto = true
